---
import { getPromotions } from '../api/storefront/storefront.endpoints';
import PromosCarousel from './PromosCarousel.tsx';

const { data } = await getPromotions();

export const prerender = false;
---

<h1>Promos de la semana</h1>
<p class="pb-4 text-lg">¡No te pierdas estas promos!</p>

<PromosCarousel client:load promos={data.docs} />
